.barra{
    width: 100%;
    height: 6.2%;
    padding: 0 0.1rem;
    background-color: var(--colorBarra);
    position: absolute;
    bottom: 0px;    
    display: flex;
    
    justify-content: space-between;
    align-items: center;
flex-direction: row;}
.izquierda{
    display: flex;
    flex-direction: row;
}
.menu{
    margin-left: 0.1rem;
    height: 3.7rem;
    cursor: pointer;
}

.menu2{
    margin-left: 0.1rem;
    height: 3.7rem;
    cursor: pointer;
}

.explorador, .chrome{

    height: 3.7rem;
    cursor: pointer;
}

.contenedor{
    background-color: transparent;
    width: 5.6rem;
    border: none;
    margin-top: 1rem;
}
.contenedor2{
    display: none;
    width: 5.6rem;
    border: none;
    margin-top: 1rem;
    
}

.contenedor:hover img{
    transform:scale(1.3);
    transition: 0.2s;
}
/*METODO HOVER*/

.derecha{
    color: white;
    text-align: center;
    padding-bottom: 2rem;
}


.activarBoton{
    background-color: transparent;
    display: block;
}.desactivarBoton{
    display: none;
}