body{
    background-image: url(https://goo.su/yv1x);
    background-size: cover;

    width: 100%;
    height: 99.6vh;
    display: flex;
    justify-content: center;
}
.escritorio{
    display: flex;
}
.escritorio{
    width: 100%;
    height: 99.9%;
    position: relative;
}

.menus{
    display: flex;
    height: 100%;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
}
.menu_opciones_desplegado{
    display: none;
    width: 5.8rem;
    height: 50rem;
    background-color: #353535;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 15%;
}
.menu_opciones_desplegado img{
    align-items: flex-end;
    width: 4rem;
    cursor: pointer;
    margin-top: 1rem;
}
.menu_deplegado{
    display: none;
    width: 40rem;
    height: 50rem;

    background-color: #1F1F1F;
}
.ventanaExplorador{
    display: none;
    margin: auto;
    background-color: rgba(136 140 165 / 36%);
    width: 40rem;
    height: 25rem;
    border: 1px solid #A89765;
}
.opciones_ventanaExplorador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: aliceblue;
    padding: 0.3rem 1rem;
}
.ventanaOpciones img{
    width: 2.9rem;
    height: auto;
    margin-left: -1rem;
    
}

/*Efectos JavaScript*/
.activar{display: block;}
.desactivar{display: none;}
.activarFlex{display: flex;}


/**Pruebas Html*/
