body{
    background-image: url(https://goo.su/yv1x);
    background-size: cover;

    width: 100%;
    height: 99.6vh;
    display: flex;
    justify-content: center;
}
.escritorio{
    width: 100%;
    height: 100%;
    position: relative;
}
.menus{
    display: flex;
    height: 100%;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
}
.menu_opciones_desplegado{
    display: none;
    width: 5.8rem;
    height: 50rem;
    background-color: #353535;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 7rem;
}
.menu_opciones_desplegado img{
    align-items: flex-end;
    width: 4rem;
    cursor: pointer;
    margin-top: 1rem;
}
.menu_deplegado{
    display: none;
    width: 40rem;
    height: 50rem;

    background-color: #1F1F1F;
}
.ventanaExplorador{
    margin: auto;
    background-color: aqua;
    width: 40rem;
    height: 25rem;
}
.opciones_ventanaExplorador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: aliceblue;
}
.opciones_ventanaExplorador img{
    width: auto;
    height: 5rem;
    
}
.menuExplorador{
    width: 20rem;
    height: 20rem;
    background-color: aqua;

}
/*Efectos JavaScript*/
.activar{display: block;}
.desactivar{display: none;}
.activarFlex{display: flex;}